nav,
footer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 5%;
  width: 100%;

  background-color: #a2c6b5;
  font-size: 2.5em;
}

.router-link-exact-active {
  color: #c7b493;
  -webkit-text-stroke: 0.2px rgba(0, 0, 0, 0.8);
}

nav {
  position: relative;
  transition: 0.5s ease all;
}

.link {
  transition: 0.5s ease all;
}

footer {
  position: fixed;
  bottom: 0;
  margin-top: 2%;
}

nav a,
footer a {
  margin: 1em;
  color: #fbf8f7;
  text-decoration: none;
  font-weight: 800;
}

nav img {
  height: 90%;
  width: 10%;
  border-radius: 50%;
  transition: 0.5s ease all;
}

.navigation {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}

.icon {
  display: flex;
  align-items: center;

  position: absolute;
  top: 0;
  right: 1.3em;
  height: 100%;
}

i .fa-bars {
  cursor: pointer;
  font-size: 1.2em;
  transition: 0.5s ease all;
}

.icon-active {
  transform: rotate(180deg);
}

.dropdown-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  max-width: 250px;
  height: 33%;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 500;
  border-radius: 0 1em 1em 0;
  box-shadow: 1px 1px 10px black;
  /* transition: 0.5s ease all; */
}

.dropdown-nav .user-nav {
  display: flex;
  flex-direction: column;
}

.dropdown-nav .link {
  /* margin-left: 0; */
  color: #c7b493;
  -webkit-text-stroke: 0.2px rgba(0, 0, 0, 0.8);
}

.dropdown-nav .router-link-exact-active {
  color: black;
  /* -webkit-text-stroke: 0.2px rgba(0, 0, 0, 0.8); */
}

.mobile-nav-enter-active,
.mobile-nav-leave-active {
  transition: 1s ease all;
}
.mobile-nav-enter-from,
.mobile-nav-leave-to {
  transform: translateX(-250px);
}

.mobile-nav-enter-to {
  transform: translateX(0);
}

#main-content {
  height: 90%;
  background-color: #faf9fe;
}

@media (min-width: 1140px) {
  /* nav {
    max-width: 1140px;
  } */
}

/* /////////     global (also in indexMain.css), nav, footer above    ///// */

#home,
#items-page {
  height: 100%;
  width: 100%;
}

#categories,
#items,
#profile,
#bookmarks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.cat-card-form,
.item-card-form,
.bookmark-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 2%;
  width: 90%;
  height: 30%;

  background: rgba(162, 198, 181, 0.35);
  border-radius: 1.2em;
  box-shadow: 0 4px 30px rgba(251, 248, 247.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
  border: 1px solid rgba(199, 180, 147, 0.18);
}

.cat-card-form h2 {
  width: 98%;

  text-align: center;
  font-size: 5em;
}

.cat-card-form h3 {
  width: 98%;

  text-align: center;
  font-size: 3.5em;
}

/*  /////// categories (home) and shared categories/items above   /////// */

.item-card-form {
  height: 50%;
}

.item-card-container {
  display: flex;
  flex-direction: column;

  width: 98%;
  height: 100%;
}

.item-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: 80%;
}

.item-card-container .item-card img {
  height: 47%;
  width: 50%;

  border-radius: 1em;
}

.item-card h2 {
  font-size: 4em;
}

.item-card h3 {
  font-size: 4em;
}

.item-card h3 span {
  font-size: 0.7em;
}

.customer-choice-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 20%;
}

.add-to-cart,
.add-bookmark,
#change-email-btn,
#change-password-btn,
.remove-bookmark,
.remove-from-cart {
  height: 95%;
  width: 10em;
  margin-bottom: 5%;
  font-size: 2em;
  cursor: pointer;

  background: rgba(162, 198, 181, 0.15);
  border-radius: 1.2em;
  box-shadow: 0 4px 30px rgba(251, 248, 247.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
  border: 1px solid rgba(199, 180, 147, 0.18);
}

.add-to-cart,
#email-btn {
  margin-right: 2%;
}

/* ///////  item card above  ///////// */
#customer-info {
  display: flex;
  /* grid-template: 30% 50% 20% / 1fr 1fr; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 95%;
}

#customer-info h1 {
  font-size: 5em;
  height: 30%;
}

#customer-info h2 {
  font-size: 3em;
  height: 30%;
}

#email-form {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 30%;
  width: 98%;
  font-size: 3em;
}

#email-form label {
  margin-right: 2%;
}

#email-form input,
#password-form input {
  width: 40%;
  height: 40%;
}

#password-form input:first-of-type {
  margin-right: 3%;
}

#email-form button,
#password-form button,
.reduce-quantity,
.increase-quantity,
#checkout-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 45%;
  width: 30%;
  margin-left: 2%;
  font-size: 0.8em;
  cursor: pointer;

  background: rgba(162, 198, 181, 0.15);
  border-radius: 1.2em;
  box-shadow: 0 4px 30px rgba(251, 248, 247.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
  border: 1px solid rgba(199, 180, 147, 0.18);
}

#password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 30%;
  width: 98%;
  font-size: 2em;
}

#new-pass-top,
#new-pass-bottom {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */

  height: 45%;
  width: 100%;
}

#new-pass-top span,
#new-pass-bottom span {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */

  width: 50%;
}

#new-pass-bottom span {
  width: 65%;
}

#password-form label {
  margin-right: 3%;
}

#password-form button {
  height: 100%;
}

#user-update-btns {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 98%;
  height: 30%;
}

#change-email-btn,
#change-password-btn {
  margin-bottom: 0;
}

/* //////////   styling for customer info change email/password forms/btns above */

#bookmarks {
  height: 80%;
}

#bookmarks-title {
  font-size: 5em;
}

.bookmark-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 50%;
  width: 98%;
}

.bookmark-container .item-card {
  height: 80%;
}

.bookmark-container .item-card img {
  height: 50%;
  width: 100%;

  border-radius: 1em;
}

.customer-bookmark-buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 20%;
  width: 100%;
}

#no-bookmarks {
  height: 50%;
  font-size: 5em;
}

i .fa-face-frown {
  font-size: 2em;
}

/* ////////////   profile styling above   //////// */

#cart-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
}

#cart-title {
  font-size: 5em;
  height: 10%;
  padding-top: 5%;
}

#cart-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  height: 80%;
  width: 100%;
  overflow-y: scroll;
}

.cart-container,
.cart-container span {
  background-color: transparent;
}

.cart-container {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;

  height: 20%;
  width: 98%;
}

.cart-container .item-card {
  grid-column-end: span 3;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-container .item-card img {
  height: 90%;
  width: 25%;

  border-radius: 1em;
}

.quantity-btns {
  grid-column-start: 1;
  grid-column-end: span 1;
  align-self: center;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-size: 3em;
  height: 100%;
  width: 100%;
}

.reduce-quantity {
  margin: 0 4% 0 0;
}

.quantity-btns h3 {
  max-height: max-content;
}

.increase-quantity {
  margin-left: 0 0 0 4%;
}

.customer-cart-btns {
  grid-column-start: 2;
  grid-column-end: span 2;
  align-self: center;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.customer-cart-btns .add-bookmark,
.remove-from-cart {
  height: 50%;
  width: 45%;
}

.customer-cart-btns .add-bookmark {
  margin: 0 4% 0 0;
}

.remove-from-cart {
  margin: 0 0 0 4%;
}

#checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 10%;
  max-height: 50%;
  width: 100%;
}

#checkout-btn {
  font-size: 2em;
  width: 35%;
}
