* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
}

body,
#app {
  height: 100vh;
  width: 100vw;
}

#app-inner {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
}
